body {
  font-family: monospace;
  font-size: 16px;
  background-color: #ffffff;
}

line {
  stroke: #666666;
  stroke-width: 3;
}

text {
  fill: #000000;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.info {
  font-size: 12px;
  border-color: #666666;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  z-index: 2;
  flex-grow: 0;
}

svg {
  flex-grow: 1;
  height: 560px;
}

svg:focus {
  outline: none;
}

.hint {
  color: #666666;
}

#legend-normal {
  padding: 2px;
  background: #cccccc;
}

#legend-selected {
  padding: 2px;
  border-style: solid;
  border-color: #666666;
  border-width: 2px;
}

#legend-imbalanced {
  padding: 2px;
  background: #dd8888;
}

.node {
  fill: #cccccc;
}

.selection {
  stroke: #666666;
  stroke-width: 2;
  fill: #ffffff;
}

.imbalanced {
  fill: #dd8888;
}
